.meals {
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #fdf9f7;
  animation: meals-appear 1s ease-out forwards;
}

.meals__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
