.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: calc(100vh - 180px);
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
}

.actions {
  text-align: right;
}

.button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #a23307;
  padding: 6px 24px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 8px;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.button:hover,
.button:active {
  border-color: #8a2b06;
}

.button--primary {
  background-color: #a23307;
  color: #fff;
}

.button--primary:hover,
.button--primary:active {
  background-color: #8a2b06;
}

.button--secondary {
  background-color: #fff;
  color: #a23307;
}

.button--secondary:hover,
.button--secondary:active {
  color: #8a2b06;
}

@media (min-width: 768px) {
  .cart-items {
    max-height: calc(100vh - 240px);
  }
}
