.form {
  margin: 16px 0;
}

.form input {
  width: 100%;
}

.actions {
  text-align: right;
}

.button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #a23307;
  padding: 6px 24px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 8px;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.button:hover,
.button:active {
  border-color: #8a2b06;
}

.button--primary {
  background-color: #a23307;
  color: #fff;
}

.button--primary:hover,
.button--primary:active {
  background-color: #8a2b06;
}

.button--secondary {
  background-color: #fff;
  color: #a23307;
}

.button--secondary:hover,
.button--secondary:active {
  color: #8a2b06;
}

@media (min-width: 768px) {
  .form input {
    width: 360px;
  }
}
